<div class="row text-center" ng-controller="LoginController">
    <div class="card" style="max-width: 400px">
        <div class="card-header text-left" data-background-color="green">
            <i class="material-icons">lock_open</i> Iniciar sesión</div>
        <div class="card-content">
            <img ng-src="assets/img/avatar.png" style="margin-left: auto; max-height: 100px; max-width: 100px" />
            <form name="loginForm" novalidate>

                <div class="text-left">
                    <div class="form-group label-floating">
                        <label class="control-label">Usuario</label>
                        <input type="text" class="form-control" ng-model="username" required autofocus="autofocus">
                    </div>
                </div>

                <div class="text-left">
                    <div class="form-group label-floating">
                        <label class="control-label">Contraseña</label>
                        <input type="password" class="form-control" ng-model="password" required>
                    </div>
                </div>
                <span style="color:red">{{errorMsg}}</span>

                <div class="row">
                     <loading></loading>
                    <button class="btn btn-rose" ng-click='login(loginForm.$valid)'><i class="material-icons">forward</i> Login</button>
                </div>
            </form>
        </div>

    </div>
</div>
